html { scroll-behavior: smooth; }

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}
h1 {
    color: #333;
}
h1 { text-align: center; }

footer {
        margin-top: 20px;
        padding: 10px;
        background-color: #eee;
        text-align: center;
        border-top: 1px solid #ccc;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #555;
}
nav li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}
